.matter-navbar {
  background:#8386ED;
  height: 70px;
  width: 100%;
  top: 0px;

  .logo {
    display: inline-flex;
    float: left;
    font-size: 30px;
    width: 70px;
    text-align: center;
    height: 100%;
    background: #6F73E3;

    img {
      margin: auto;
    }
  }

  .nav-list {
    display: inline-flex;
    height: 100%;

    .inline-list {
      margin: auto;

      ul {
        list-style: none;

      }

      li {
        margin: 20px;
        display: inline-block;

        a {
          color: white;
          text-decoration: none;
        }
      }

      li.active {
        font-weight: bolder;
      }
    }
  }
}



