.matter-navbar {
  background:#8386ED;
  height: 100px;
  width: 100%;
  top: 0px;

  .logo {
    background: #6F73E3;
    display: inline-flex;
    float: left;
    font-size: 30px;
    height: 100%;
    margin-right: 0.9375rem;
    text-align: center;
    width: 100px;

    img {
      margin: auto;
      width: 40px;
      height: 40px;
    }
  }

  .nav-list {
    display: inline-flex;
    height: 100%; 

    .inline-list {

      font-size: 19px;
      font-weight: 400;

      a {
        color: white;
        text-decoration: none;
      }

      .active {
        font-weight: 800;
      }

    }
  }

  .org-header {
    height: 100%;

    .org-updated {
      font-size: 11px;
      font-style: italic;
      margin-right:20px;
      color: #C4C5F6;
    }

    .org-avatar {
      width: 70px;
      height: 70px;
    }
  }
}



