.comparison {
  width: 50em;

  .header-row {
    margin: 1.25em 0px;

    .page-header {
      font-size: 27px;
      color: #4A4A4A;
      font-weight: 600;
    }
  }

  .filter-row {
    /* TODO this is a hack to get the right alignment with border */
    .filter-col {
      &:last-of-type {
        margin-right: -0.0500em;
      }

      .comparison-filter {
        font-size: 13px;
        width: 100%;

        &.department {
          margin-right: .625em;
        }

        &.is-focused:not(.is-open) > .Select-control {
          box-shadow: none;
        }

        &:focus {
          outline: none;
        }

        &:not(.is-open) {
          .Select-arrow {
            position: relative;
            border: none;
            top: -5px;
            left: -5px;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              border-top: 5px solid #8386ED;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }

            &:after {
              content: '';
              position: absolute;
              left: 1px;
              top: 0;
              border-top: 4px solid #ffffff;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
            }
          }
        }

        &.is-open {
          .Select-arrow {
            position: relative;
            border: none;
            top: -5px;
            left: -5px;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              border-bottom: 5px solid #8386ED;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }

            &:after {
              content: '';
              position: absolute;
              left: 1px;
              top: 1px;
              border-bottom: 4px solid #ffffff;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
            }
          }
        }

        .Select-value {
          max-width: 88%;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .line {
    position: absolute;
    left: 0px;
    width: 100%;
    height:0px;
    border-bottom: 0.0625em solid #ECECEC;
  }

  .comparison-data {
    margin-top: 40px;

    .sort-header-row {
      padding-left: 1em;

      .sort-header {
        font-size: 12px;
        color: #ABABAB;
        display: flex;
        cursor: pointer;

        &.active {
          color: #8386ED;
          font-weight: 700;
        }

        .material-icons {
          font-size: 14px;
        }
      }

    }
    .companies-wrap {
      background: #FFFFFF;
      border-radius: 4px;
      border: 0.0625em solid #DEDEDE;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.04);
      margin-bottom: 1.25em;
      margin-top: 15px;

      .company-wrap {
        border-bottom: 0.0625em solid #ECECEC;
        height: 32px;
        padding: .625em;
        padding-left: 1.25em;

        &.mine {
          background: #E3F7F4
        }


        &:last-of-type {
          border-bottom: none;
        }

        .recharts-responsive-container {
          left: -0.3125em;
        }
      }
    }

    .company-name {
      font-size: 14px;
      font-weight: 700;
      color: #4A4A4A;


      .img-col {
        padding-right: 0.3125em;
      }

      .img-circle {
        -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
        display: inline-block;
        height: 1.25em;
        margin-right: .625em;
        width: 1.25em;
      }

      .me {
        color: #ABABAB;
        font-size: 12px;
      }
    }

    .bar-wrap {
      &.gender {
        margin-right: .625em;
        > .row {
          width: 9.375em;
        }
      }

      &.ethnicity {
        width: 5.625em;
        overflow: hidden;
        > .row {
          width: 5.9375em;
        }

        &:not(:last-of-type) {
          margin-right: .625em;
        }
      }

      &.small-offset-1 {
        margin-left: 10%;
      }
    }
  }

  .no-data {
    color: #ABABAB;
    font-size: 12px;
  }

  .data-note {
    font-size: 14px;
    color: #CBCBCB;
    letter-spacing: 0;
    text-align: center;

    a {
      color: #CBCBCB;
      text-decoration: underline;
    }
  }
}


@media print, screen and (min-width: 600px) {
  width: 50em;
  .comparison {
    .comparison-data {
      .bar-wrap {
        &.gender {
          margin-right: .625em;
          > .row {
            width: 9.375em;
          }
        }

        &.ethnicity {
          width: 5.625em;
          > .row {
            width: 5.9375em;
          }
        }
      }
    }
  }
}

@media print, screen and (min-width: 1000px) {
  .comparison {
    width: 62.5em;

    .comparison-data {
      .bar-wrap {
        &.gender {
          margin-right: .625em;
          > .row {
            width: 12.5em;
          }
        }

        &.ethnicity {
          width: 6.25em;
          > .row {
            width: 7.375em;
          }
        }
      }
    }
  }
}

@media print, screen and (min-width: 1200px) {
  .comparison {
    width: 75em;

    .comparison-data {
      .bar-wrap {
        &.gender {
          margin-right: .625em;
          > .row {
            width: 15em;
          }
        }

        &.ethnicity {
          width: 7.5em;
          > .row {
            width: 8.82em;
          }
        }
      }
    }
  }
}
