<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Matter - Signin</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script> 
      <style>

      </style>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="<%= process.env.GOOGLE_CLIENT_ID  %>">

  </head>
  <body>
    <div id="alert" data-alert class="alert-box alert"></div>
    <div class="container">
      <div class="copy-bg">
        <div class="copy-wrap">
          <div><img src="/images/matter-logo.svg" alt="logo" /></div>
          <div class="copy">Grow a more inclusive company</div>
        </div>
      </div>
      <div class="signin-bg">
        <div class="button-wrap">
          <a class="google" href="/auth/google/">
            <div class="google-wrapper">
              <div class="google-icon" style="padding:8px">
                <div style="width:18px;height:18px;">
                  <img alt="google_logo" src="/images/pages/signin/google.svg" />
                </div>
              </div>
              <span>Sign in with Google</span>
            </div>
          </a>
        </div>
      </div>
      <script>
        var error = "<%= messages.error %>";
        var info = "<%= messages.info %>";
        if(error) $('#alert').addClass('error').html(error).fadeIn(1000);
        else if(info) $('#alert').addClass('info').html(info).fadeIn();
        $('#alert').delay(5000).fadeOut('slow');
      </script>
  </body>
</html>
