.chart-tooltip {
  background: white;
  border-radius: 4px;
  border: 1px solid #DEDEDE;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.04);

  .name {
    font-size: 14px;
    color: #9B9B9B;
    margin-left:10px
  }

  .col-circle {
    width: 10px;
  }

  .circle {
    height: 10px;
    width: 10px;
    border-radius: 50px;
  }

  .col-text {
    width: 100px;
    overflow: hidden;
  }

  .top-item {
    font-size: 22px;
    color: #4A4A4A;
    width: 
  }

  .change-description {
    color: #D0016A;
    font-size: 12px;
  }
}
