.overview-section {

  /* Rectangle 1: */
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.04);
  border-radius: 4px;

  background: white;
  padding: 15px 15px;
  margin-bottom: 25px;

  .organization-logo {
    width: 100px;
    height: 100px;
  }

  .overview-charts {
    margin-top: 25px;
  }

  .organization-name {
    font-size: 33px;
    color: #8C8C8C;
  }

  .sub-heading {
    border-bottom: 1px solid #ECECEC;
  }

  .sub-nav.active {
    color: #888EE7;
  }
  .sub-nav {
    color: #8D8D8D;
    font-size: 13px;
    display: inline;
  }

  .department-subnav {
    .sub-nav {
      margin-right: 30px;
    }
  }

  .period-subnav {
    .sub-nav {
      margin-left: 30px;
    }
  }

  .overview-subnav {
    padding-top: 20px;
  }

  .overview-chart-title {
    font-size: 22px;
    font-weight: 600;
    color: #39393A;
  }

  .overview-chart-subtitle {
    font-size: 15px;
    color: #8C8C8C;
  }

  .employee-total-description {
    font-size: 15px;
    color: #8C8C8C;
    width: 70px;
  }

  .employee-total {
    font-size: 43px;
    color: #8A8A8A;
    margin-top: -15px;
  }
}

