.reports-empty-container {
  min-height:100vh;
  background: #F7F7F7;

  .visibility-off-icon {
    height: 26px;
    width: 30px;
    fill: #8386ED;
    background-image: url('/images/visibility-off-icon.svg');
    background-size: 30px;
    margin-right: 25px
  }
  .empty-text {
    font-size: 20px;
    color: #6E6EE2;
    letter-spacing: 0;
  }

  .get-started-button {
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #CBCBCB;
    cursor: pointer;
    padding: 12px;
    text-decoration: none;
  }

  .get-started-button:focus {
    outline: none;
  }

  .report-list-container {

    .report-list-column {
      padding: 10px 70px;
    }

    /* small */
    @media screen and (max-width: 39.9375em) {
      .report-list-column {
        padding: 10px 20px;
      }
    }

    .report-list {
      margin-top: 30px;
      background: white;
      border-radius: 4px;
      border: 1px solid #CBCBCB;

      .report-list-item:last-of-type {
        border-bottom: none;
      }

      .report-list-item:hover {
        background: rgba(131, 134, 237,.2);
      }

      .report-list-item {
        font-size: 14px;
        color: #4A4A4A;
        border-bottom: 1px solid #CBCBCB;
        cursor: pointer;

        a {
          color: #4A4A4A;
        }

        .row {
          padding: 15px 0px 15px 15px;
        }
      }

    }
  }

  .template-header {
    background: #4A4A4A;
    padding: 10px 0px 20px 0px;;
    overflow: scroll;

    .template-item {
      cursor: pointer;
      width: 171px;

      .description {
        font-size: 14px;
        color: #ABABAB;
        padding: 5px;
      }

      .template-img-wrap {
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
        height: 130px;

        .plus {
          font-size: 79px;
          color: #8386ED;
          height: 80%;
        }

        .title {
          font-size: 15px;
          color: #39393A;
        }
      }
    }

    .template-item:first-child {
      margin-left: 70px;
    }

  }
}

