.reports-page {
  .reports-name {
    /* My Company: */
    font-size: 27px;
    color: #4A4A4A;
  }
  .select-layout {
    width: 200px;
  }

  .reports-page-header {
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 20px;
  }


  .reports-add {
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;

    font-size: 20px;
    color: #CBCBCB;

    i {
      margin-right: 15px;
    }
  }

  .reports-add:focus {
    outline: none;
  }

  .report-object-wrap {
    margin: 50px auto;
  }
}

.new-report-modal {
  width: 60rem;
  height: 500px;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 4px;
  outline: none;
}
