.matter-pie-chart {

  .pie-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .total-wrap {
      position:absolute;
      color: #4A4A4A;
      margin: auto;

      .number {
        font-size: 34px;
      }

      .description {
        font-weight: 300;
      }
    }
  }
 
  .legend {
    display: flex;
    align-items: center;
    min-width: 200px;
  }

  .legend-list {
    list-style: none;
      li{
        padding-bottom: 10px;
      }
  }

  .legend-list.big {
    .legend-value {
      font-size: 30px;
      font-weight: 200;
      margin-bottom: -6px;
    }

    .legend-name {
      color: #B1B1B1;
      font-size: 14px;
    }
  }

  .legend-list.small {
    .legend-item {
      display: flex;
      align-items: center;
      margin: 10px 0px;

      .legend-dot {
        margin-right: 15px;
        display: inline-block;
      }

      .legend-name {
        color: #B1B1B1;
        font-size: 14px;
        display: inline-block;
      }

      .legend-value {
        font-size: 14px;
        color: #4A4A4A;
      }

    }
  }

}
