body {
  margin: 0px;
  background: white;
  font-family: 'Nunito Sans', sans-serif;
  overflow: scroll;
  min-width: 800px;
}

.container {
  padding: 20px;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

/* TODO this is a hack to fix overflow scroll bar showing up on charts */
.recharts-responsive-container {
  overflow: hidden;
  div {
    overflow: hidden !important;

  }
}

.Select-control {
  cursor: pointer;

  .Select-arrow-zone {
    border-left: 1px solid #CBCBCB;
    width: 30px;
    padding-left: 1px;

    .Select-arrow {
      border-color: #8386ED transparent transparent;
    }
  }
}

.img-circle {
  border-radius: 50%;
}

.caret {
  position: relative;
}

.caret.downward:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 10px solid #DEDEDE;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.caret.downward:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 9px solid #ffffff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}


@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}}
@keyframes slide-in-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}}
