body {
  margin: 0px;
  background: white;
  font-family: 'Nunito Sans', sans-serif;
  overflow: scroll;
}

.container {
  padding: 20px;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

/* TODO this is a hack to fix overflow scroll bar showing up on charts */
.recharts-responsive-container {
  overflow: hidden;
  div {
    overflow: hidden !important;

  }
}

.Select-control {
  cursor: pointer;

  .Select-arrow-zone {
    border-left: 1px solid #CBCBCB;
    width: 30px;
    padding-left: 1px;

    .Select-arrow {
      border-color: #8386ED transparent transparent;
    }
  }
}

.img-circle {
  border-radius: 50%;
}
